.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#e16a44, #e16a44);
  background-size: 0 2px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.4s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(E16A44, #e16a44);
}

.link-underline:hover {
  background-size: 100% 2px;
  background-position: 0 100%;
}

.bg-blur {
  backdrop-filter: blur(4px);
  background-color: rgba(
    255,
    255,
    255,
    0
  ); /* Atur nilai transparansi sesuai kebutuhan */
}

/* Untuk membuat efek transparan */
.bg-transparent {
  background-color: transparent;
}

.active {
  font-weight: bold; /* atau gaya lain sesuai kebutuhan */
  color: #e16a44;
}
